<h1>Users#show</h1>
<!-- ユーザー情報変更に成功した時のメッセージ-->
<% if flash[:notice] %>
		  <p style="color: green"><%= flash[:notice] %></p>
<% end %>

<!-- 投稿に失敗した時のエラーメッセージ -->
<% if @book.errors.any? %>
  <h2><%= @book.errors.count %>error</h2>
  <% @book.errors.full_messages.each do |message| %>
    <p><%= message %></p>
  <% end %>
<% end %>

<!-- ユーザー情報 -->
<div class="user-info">
  <h1>User info</h1>
  <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", format: 'jpeg' %>
  <table>
    <tr>
	  	<th>name</th>
	  	<th><%= @user.name %></th>
	  </tr>
   	<tr>
	  	<th>introduction</th>
	  	<th><%= @user.introduction %></th>
  	</tr>
  </table>
  <!-- ログイン中のユーザー以外が編集できないようにするために強制的にログイン中のユーザーの詳細画面へ -->
  <% if @user == current_user %>
    <%= link_to 'ユーザー編集', edit_user_path(current_user) %>
  <% else %>
    <%= link_to 'ユーザー編集', user_path(current_user) %>
  <% end %>
</div>



<!--新しい本を投稿-->
<div class="new-book">
  <h1>New book</h1>
  <%= form_with model:@book, local:true do |f| %>
    <p>Title</p>
    <%= f.text_field :title %>
    <p>Opinion</p>
    <%= f.text_area :body %><br>
    <%= f.submit 'Create Book' %>
  <% end %>
</div>

<!-- ログイン中のユーザーの投稿した本のリスト-->
<h1>Books</h1>
<table>
  <tr>
    <th></th>
    <th>Title</th>
    <th>Opinion</th>
  </tr>
  <% @user.books.each do |book| %>
    <tr>
      <!-- book.userとしなければエラーが表示される。アソシエーションすることによって.を使うことでそれぞれのテーブルのカラムから値を取り出せる -->
      <td><%= attachment_image_tag book.user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg", format: 'jpeg' %></td>
      <td><%= link_to book.title, book_path(book) %></td>
      <td><%= book.body%></td>
    </tr>
  <% end %>
</table>

