<h1>Books#edit</h1>

<!-- 本の編集に失敗した時のエラーメッセージ -->
<% if @book.errors.any? %>
  <h2><%= @book.errors.count %>error</h2>
  <% @book.errors.full_messages.each do |message| %>
    <p><%= message %></p>
  <% end %>
<% end %>


<h1>Editing Book</h1>
<%= form_with model:@book, local:true do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>
  <p>Opinion</p>
  <%= f.text_area :body %><br>
  <%= f.submit 'Update Book' %>
<% end %>

<%= link_to 'Show', book_path(@book) %>|
<%= link_to 'Back', books_path %>